<input type="text" [(ngModel)]="buttonValue">
<div>
    <button class="btnC" (click)="bs()">&larr;</button>
    <button class="btn1" (click)="textenter('%')">%</button>
    <button class="btn1"(click)="textenter('/')">/</button>
    <button class="btnC" (click)="clear()">AC</button>
    <br>

    <button class="btn" (click)="textenter('7')">7</button>
    <button class="btn" (click)="textenter('8')">8</button>
    <button class="btn" (click)="textenter('9')">9</button>
    <button class="btn1" (click)="textenter('*')">X</button>
    <br>
    <button class="btn" (click)="textenter('4')">4</button>
    <button class="btn" (click)="textenter('5')">5</button>
    <button class="btn" (click)="textenter('6')">6</button>
    <button class="btn1" (click)="textenter('-')">-</button>
    
    <br>
    <button class="btn" (click)="textenter('1')">1</button>
    <button class="btn" (click)="textenter('2')">2</button>
    <button class="btn" (click)="textenter('3')">3</button>
    <button class="btn1" (click)="textenter('+')">+</button>
    
    <br>
    <button class="btn" (click)="textenter('0')">0</button>
    <button class="btn1" (click)="textenter('.')">.</button>
    <button class="btn1" (click)="eql()">=</button>
    </div>
    